#.travis.yml

language: node_js
node_js:
  - "10.15"

os: osx

addons:
  chrome: stable

branches:
  only:
    - master

before_script:
  - 'npm install -g @angular/cli'
  - 'npm install'

script:
  - ng e2e
  - ng build --prod